{% extends "base.html" %}

{% block titulo %}Usuarios Más Activos{% endblock %}

{% block contenido %}
    {% if usuarios %}
        {% for usuario_info in usuarios %}
            <p><strong>Usuario ID: {{ usuario_info.id_usuario }} - {{ usuario_info.num_peliculas }} películas puntuadas</strong></p>
            
            <p>Usuarios más similares:</p>
            <table border="1">
                <tr>
                    <th>ID Usuario</th>
                    <th>Coeficiente de Similaridad</th>
                </tr>
                {% for similaridad, id_usuario_similar in usuario_info.similares %}
                <tr>
                    <td>{{ id_usuario_similar }}</td>
                    <td>{{ similaridad|floatformat:4 }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
        {% endfor %}
    {% else %}
        <p>No hay datos disponibles.</p>
    {% endif %}
{% endblock %}
